<div id="games">
  <div class="row">
    <div class="col-md-8  col-xs-12">
      <div class="site-content" >
        <div class="entry">
          <div class="dropdown drop-down">
            <button id="dLabel" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"
              class="btn btn-default">
              <span class="glyphicon glyphicon-align-justify"
                aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dLabel">
              <li>
                <a href="<%= edit_admin_game_path @game %>">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  <%= t "buttons.edit" %>
                </a>
              </li>
              <li>
                <a href="<%= admin_game_path @game %>" data-method="delete"
                  data-confirm="<%= t "confirm.delete" %>">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <%= t "buttons.delete" %>
                </a>
              </li>
            </ul>
          </div>
          <div class="entry-image">
            <%= image_tag @game.image_url, class: "img-img-img" %>
          </div>
          <div class="entry-meta">
            <%= @game.name %>
          </div>

          <div class="entry-description">
            <%= @game.description %>
          </div>
          <div class="entry-image">
            <%= @game.content.html_safe if @game.content.present? %>
          </div>
        </div>
      </div>

      <div class="version">
      <%= link_to t("buttons.new"), new_admin_game_version_path(@game), class: "btn btn-primary" %>
        <table class="table table-striped" id="tbl-list-versions">
          <thead>
            <tr>
              <th class="id"><%= t "phases.table.id" %></th>
              <th class="name"><%= t "phases.table.name" %></th>
              <th class="description"><%= t "phases.table.description" %></th>
              <th class="action"></th>
            </tr>
          </thead>
          <tbody id="versions">
            <% @game.versions.each.with_index do |version, index| %>
                <%= render "version", version: version, index: index %>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= render "dialog" %>

      <div class="site-content" >
        <div class="entry-content" style="background: white;">
          <div class="fb-comments" data-href="<%= request.original_url %>" data-width="100%" data-numposts="5">
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4 col-xs-12">
      <%= render "shared/facebook_page" %>
    </div>
  </div>
</div>
